version: '3.6'
services:
#caddy服务和naiveproxy代理
  caddy:
    image: pocat/naiveproxy:v2.10.2
    container_name: caddy2_naiveproxy
    restart: always
    environment:
      PATH: "/etc/naiveproxy/Caddyfile"
#    networks:
#      breakwall:
#        aliases:
#          - caddy
    network_mode: "host"
    dns:
      - 8.8.8.8
      - 208.67.222.222
#    ports:
#      - "80:81"
#      - "443:443"
    volumes:
      - ./caddy/Caddyfile:/etc/naiveproxy/Caddyfile
      - ./caddy/caddy_cert:/root/.local/share/caddy/certificates/acme-v02.api.letsencrypt.org-directory/
      - ./caddy/caddy_config:/root/.config/
      - ./caddy/www:/usr/share/caddy/
      - ./caddy/log:/var/log/caddy/
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro

#  xray:
#    image: teddysun/xray:1.6.1
#    container_name: breakwall_xray
#    restart: always
#    volumes:
#      - ./xray/config.json:/etc/xray/config.json
#      - ./caddy/caddy_cert:/cert
#      - /etc/localtime:/etc/localtime:ro
#      - /etc/timezone:/etc/timezone:ro
#    ports:
#      - "4443:4443"
#    depends_on: 
#      - caddy
#    networks:
#      breakwall:
#        aliases:
#          - xray

#networks:
#    breakwall:

#trojan代理
  trojan-go:
    image: teddysun/trojan-go
    container_name: trojan-go
    restart: always
    volumes:
      - ./trojan-go/config.json:/etc/trojan-go/config.json
    network_mode: "host"

#docker管理面板
  portainer:
    image: 6053537/portainer
    container_name: portainer
    restart: always
    ports:
      - "35080:9000"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - portainer_data:/data
volumes:
  portainer_data:

    zerotier-aio-zh:
    image: niliaerith/zerotier-aio-zh
    container_name: zerotier-aio-zh
    hostname: zerotier-aio-zh
    restart: always
    cap_add:
      - ALL
    devices:
      - /dev/net/tun
    network_mode: host
    volumes:
      - /root/zerotier-aio-zh/opt/key-networks/ztncui/etc:/opt/key-networks/ztncui/etc
      - /root/zerotier-aio-zh/var/lib/zerotier-one:/var/lib/zerotier-one
      - /root/zerotier-aio-zh/etc/zt-mkworld:/etc/zt-mkworld
    environment:
      - TZ=Asia/Shanghai
      - AUTOGEN_PLANET=1
      - NODE_ENV=production
      - HTTPS_HOST=0.0.0.0
      - HTTPS_PORT=3443
      - HTTP_PORT=3000
      - HTTP_ALL_INTERFACES=yes
      - MYDOMAIN=xx.com
      - ZTNCUI_PASSWD=password
      - MYADDR=my ip
    privileged: true
